sqltools_20211215234058_19484.log
__pycache__/data.cpython-310.pyc
.gitignore
.gitignore
__pycache__/OwnerUI.cpython-310.pyc
__pycache__/main.cpython-310.pyc
.gitignore
.gitignore
__pycache__/practiceUI.cpython-310.pyc
__pycache__/InitialUI.cpython-310.pyc
__pycache__/UserUI.cpython-310.pyc
